@font-face {
  font-family: 'OpenSans-Bold';
  src: url('~@/static/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  url('~@/static/fonts/OpenSans-Bold.woff') format('woff'), url('~@/static/fonts/OpenSans-Bold.ttf')  format('truetype'), url('~@/static/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('~@/static/fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('~@/static/fonts/OpenSans.woff') format('woff'), url('~@/static/fonts/OpenSans.ttf')  format('truetype'), url('~@/static/fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}