@font-face {
  font-family: "OpenSans-Bold";
  src: url("~@/static/fonts/OpenSans-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("~@/static/fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
